<div ng-repeat="post in homeCtrl.feed" class="container">
    <a ui-sref="photo({ photoID: {{$index}} })" class="home-image"><img src="{{post.media.m}}"></a>
    <div class="home-text">
        <h3><a ui-sref="photo({ photoID: {{$index}} })">{{post.title}}</a></h3>
        <h4><span>Published: </span><time>{{post.published | date:'dd MMM yyyy AT HH:mm' }}</time></h4>
        <a href="{{homeCtrl.getAuthorLink(post.author_id)}}" class="fl">{{post.author | author}}</a>
        <a href="{{post.link}}">View on Flickr</a>
    </div>
</div>