body, button {
    font-family: 'Open Sans';
}
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: inherit;
}

p {
    padding-bottom: 20px;
}

h1 {
    font-size: 41px;
    margin: 40px 0 40px 30px;
}

h2, h3 {
    color: teal;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

h3 {
    font-size: 26px;
    margin: 20px 0;
}

h3 a:hover,
h2 a:hover {
    color: #003333;
}

h4 {
    display: inline-block;
    padding: 0 10px;
}

.home-image {
    float: left;
    margin-left: 3px;
    vertical-align: middle;
}

img {
    object-fit: none;
    object-position: center;
    height: 150px;
    width: 150px;
}

.home-text {
    float: left;
    padding: 2% 30px;
}

.home-text > a,
.photo-titles > a {
    color: #003333;
}

.home-text > a:hover,
.photo-titles > a:hover {
    color: teal;
}

.container {
    clear: both;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid grey;
    padding: 10px;
    height: 150px;
}

button {
    background-color: teal;
    border-radius: 4px;
    border: 0;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 12px;
    color: white;
    float: right;
    margin-right: 40px;
}

.photo-titles {
    margin-bottom: 20px;
    margin-left: 40px;
}

.photo-content {
    margin: 40px 40px;
    position: relative;
}

.photo-content img {
    position: absolute;
}

section {
    position: absolute;
    left: 190px;
}

section a {
    padding-left: 10px;
    padding-bottom: 5px;
    color: teal;
    display: inline-block;
}

.google-btn {
    padding-top: 10px;
}