body {
    min-width: 400px;
}
body, button {
    font-family: 'Open Sans';
    line-height: 1.2em;
}
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: inherit;
}

p {
    padding-bottom: 20px;
}

h1 {
    font-size: 41px;
    margin: 25px 5% 30px 5%;
}

h2, h3 {
    color: teal;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.2em;
}

h3 {
    font-size: 26px;
    margin: 20px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h3 a:hover,
h2 a:hover {
    color: #003333;
}

h4 {
    display: inline-block;
    padding: 0 10px;
}

.home-image {
    float: left;
    margin-left: 3px;
    margin-right: 30px;
    vertical-align: middle;
}

img {
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    width: 150px;
    height: 150px;
}

.home-text > a,
.photo-titles > a {
    color: #003333;
    white-space: nowrap;
    font-size: 80%;
}


.home-text > a:hover,
.photo-titles > a:hover {
    color: teal;
}

.container {
    clear: both;
    margin: 0 5%;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 10px;
    height: 150px;
}
.container:last-child {
    border: 1px solid grey;
}
button {
    background-color: teal;
    border-radius: 4px;
    border: 0;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    padding: 6px 12px;
    color: white;
    float: right;
    margin-right: 40px;
}

.photo-titles {
    margin-bottom: 20px;
    margin-left: 40px;
}

.photo-content {
    margin: 40px 40px;
    position: relative;
}

.photo-content img {
    position: absolute;
}

section {
    position: absolute;
    left: 190px;
}

section a {
    padding-left: 10px;
    padding-bottom: 5px;
    color: teal;
    display: inline-block;
}

.google-btn {
    padding-top: 10px;
}

.fl {
    float: left;
}

@media screen and (max-width: 800px) {
    .fl {
        float: inherit;
    }
    h4 {
        display: block;
        padding-bottom: 10px;
    }

    .home-text > a {
        margin-right: 10px;
    }
}

@media screen and (max-width: 550px) {
    h3 {
        margin: 15px 0;
    }
    h4 span {
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
    }
}